body {
    background-image:url('https://i.imgur.com/VCSGaCz.png');
    background-color: rgb(0, 86, 126);
}

.notify {
    z-index: 999;
    visibility: hidden;
    border-radius: 10px;
    height:30px;
    width:75%;
    position: fixed;
    top: 1em;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content:center;
    align-items: center;
    opacity: 0.75;
}

.main {
    border: 5px outset rgb(0, 31, 71);
    border-radius: 25px;
    background-color: rgb(0, 86, 126);
    background-image:url('https://i.imgur.com/6mP91Gg.png');
    background-size: cover
}

.header {
    border-radius: 20px;
    height:100px;
    background-color:rgb(0, 86, 126);
    display: flex;
    justify-content:center;
}
.title {
    border-radius: 20px;
    height:50px;
    width:400px;
    background-color: rgb(0, 76, 116);
}
